/* intuitivnější box-sizing pro všechny prvky na stránce */
html {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}

/*
	Poznámky:
	- maximální šířka obsahu uvnitř sekcí je 1100px
	- "pruh" s obsahem obsah je vycentrovaný na stránce
	- všechny sekce mají nahoře a dole padding 80px
	- kromě hlavičky a patičky, které mají jen 30px
	- nadpisy jsou fontem Playfair Display, tučně
	- veškerý další text na stránce fontem Lora
	- výchozí velikost textu na stránce je 18px, řádkování 1.5

	Velikosti nadpisů:
	h1 - 52px  (nadpis v horní Hero sekci s cupcakem)
	h2 - 36px  (nadpisy v dalších sekcích)
	h3 - 18px  (název produktu v Dnešní nabídce)
	Nadpisy mají řádkování jen 1.25

	Barvy:
	#f195b2		růžová - tlačítka a zvýraznění
	#d2567d		tmavá růžová - hover/aktivní tlačítka
	#3e606b		tmavá tyrkysová - na nadpisy
	#242424		(skoro) černá - na běžný text
	#f0f0f0		světle šedé pozadí prostřední sekce
	#303339		tmavé pozadí patičky
*/

body {
  margin: 0;
  font-family: 'Lora', serif;
}
h1,
h2,
h3 {
  font-family: 'Playfair Display', serif;
}
.content {
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
}
.page-header {
  display: flex;
  justify-content: space-between;

  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
}
.page-header img {
  width: 170px;
}
.menu li {
  display: inline-block;
}
.menu li a {
  display: block;
  padding: 5px 15px;
  text-decoration: none;
}
.menu li:last-child {
  background-color: #f195b2;
  border-radius: 20px;
}
.menu li:last-child:hover {
  background-color: #d2567d;
}
.menu li:last-child a {
  color: #ffff;
}
.hero {
  background-image: url(images/cupcake.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffff;
  padding: 150px 0;
}
.hero-text {
  padding-right: calc(1100px * 0.4);
}
.hero h1 {
  font-size: 52px;
}
.hero p {
  font-size: 24px;
}
.welcome,
.cakes,
.baking {
  padding: 80px 0;
}

/*--------------------Welcome section---------------------*/
.welcome {
  display: flex;
}
.left {
  margin-right: 30px;
}

.left a {
  background-color: #f195b2;
  text-decoration: none;
  color: #ffff;
  padding: 15px 40px;
  border-radius: 30px;
}
.left a:hover {
  background-color: #d2567d;
}

/*---------------------Section cakes-----------------------*/
.cakes {
  background-color: #f0f0f0;
}
.cakes-list {
  display: flex;
}
.product {
  background-color: #ffff;
  width: calc(1100px / 4);
}
.product:not(:last-child) {
  margin-right: 30px;
}
.product img {
  width: calc(1100px / 4);
}
.product h3 {
  text-align: center;
  margin-top: 0;
  padding: 20px 20px 0 20px;
}
.product p {
  margin-bottom: 0;
  padding: 0 20px 20px 20px;
}

/*---------------------Section baking-----------------------*/
.baking {
  display: flex;
}
.baking img {
  margin-right: 30px;
}
.page-footer {
  text-align: center;
  background-color: #303339;
  color: #ffff;
  padding: 30px 0;
}
